.purchase{
    border-style: solid;
    border-width: 2px;
    border-color: rgba(128, 128, 128, 0.281);
    margin: 1.5rem 0;
    padding: 0;
    border-radius: 8px;
}
.purchase h3{
    margin: 1rem 2rem;
}

.item-title{
    width: 60%;
}

.total-purchase{
    background-color: #008DBA !important;
}